<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="brand-logo">followme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="profile">
      <div class="profile-header-info">
        <div class="profile-image">
          <ion-avatar>
            <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
          </ion-avatar>
        </div>
        <div class="profile-stats">
          <div class="profile-stat"><span class="profile-stat-count">164</span> posts</div>
          <div class="profile-stat"><span class="profile-stat-count">188</span> followers</div>
          <div class="profile-stat"><span class="profile-stat-count">206</span> following</div>
        </div>
      </div>
      <div class="profile-user-info">
        <div class="profile-user-settings">
          <h1 class="profile-user-name">janedoe_</h1>
        </div>
        <div class="profile-bio">
          <p><span class="profile-real-name">Jane Doe</span> <br> Lorem ipsum dolor sit, amet consectetur adipisicing
            elit
            📷✈️🏕️</p>
        </div>
      </div>
    </div>
  </div>
  <ion-item-divider> </ion-item-divider>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">All</ion-segment-button>
      <ion-segment-button value="favorites">Me</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <app-gallery [images]="userPhotos"> </app-gallery>

</ion-content>
