<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>followme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="profile">
      <div class="profile-header-info">
        <div class="profile-image">
          <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
            alt="">
        </div>
        <div class="profile-stats">
          <div class="profile-stat"><span class="profile-stat-count">164</span> posts</div>
          <div class="profile-stat"><span class="profile-stat-count">188</span> followers</div>
          <div class="profile-stat"><span class="profile-stat-count">206</span> following</div>
        </div>
      </div>
      <div class="profile-user-info">
        <div class="profile-user-settings">
          <h1 class="profile-user-name">janedoe_</h1>
        </div>
        <div class="profile-bio">
          <p><span class="profile-real-name">Jane Doe</span> <br> Lorem ipsum dolor sit, amet consectetur adipisicing
            elit
            📷✈️🏕️</p>
        </div>
      </div>
    </div>
  </div>
  <ion-item-divider> </ion-item-divider>
  <div class="grid">
    <img *ngFor="let item of [0,1,2,3,4,5,6]"
      src="https://images.unsplash.com/photo-1642804403428-99ca6d79fd86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=396&q=80">
  </div>

</ion-content>
