.post {
  display: flex;
  flex-direction: column;

  .post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px 0px 15px;

    .post-user {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;

      .post-user-avatar {
        width: 40px;
        height: 40px;
      }

      .post-user-info {
        display: flex;
        flex-direction: column;
        margin-left: -12px;

        .post-user-name {
          font-weight: bold;
        }

        .post-user-location {
          font-weight: normal;
          font-size: 12px;
        }
      }
    }

    .post-options {
      font-size: 20px;
      cursor: pointer;
    }
  }

  .post-image {
    max-width: 350px;
    max-height: 100%;
  }

  .activity-icons {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;

    ion-icon {
      font-size: 25px;
      margin-left: 10px;
    }
  }

  .likes-by {
    display: flex;
    flex-direction: row;
    margin: 5px 15px;

    .like-user-avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .overlap {
      margin-right: -5px;
    }

    .like-count {
      margin-left: 15px;
    }
  }

  .post-content {
    overflow: hidden;
    max-height: 80px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .post-comments {
    font-size: 13px;
    margin: 0px 15px 10px 15px;
    font-weight: bold;
    cursor: pointer;
  }
}
