<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openActions()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/tabs/chats']" routerLinkActive="router-link-active">
        <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="brand-logo">followme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-post-card *ngFor="let item of [0,1,2]" [data]="item"></app-post-card>
</ion-content>
